
<mat-card >
    
    <mat-card-content>
        <mat-form-field appearance="outline" class="custom-input">
            <mat-label>Password Actual</mat-label>
            <input matInput />
            
        </mat-form-field> 

      <mat-form-field appearance="outline" class="custom-input">
          <mat-label>Password Nuevo</mat-label>
          <input matInput />
          
      </mat-form-field> 

    </mat-card-content>
  
    <mat-card-actions>
      <button (click)="onAccion()" mat-flat-button >Modificar</button>
      <mat-divider></mat-divider>
    </mat-card-actions>
  </mat-card>
  
