<!DOCTYPE html>
<html lang="es">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="cuadrito.component.css">
    <body>
        <div class="General">
        <div class="login-container">
            <i class="fa-solid fa-user"></i>
             <img class="login-container img" src="..\..\..\assets\Imagenes\usuario (2).png">
            <h2>Login</h2>
            <input type="text" placeholder="PRID" required>
            <input type="password" placeholder="Password" required>
            <button>Sign In</button>
            <a href="#">Forgot password?</a>
        </div>
        </div>
    
    </body>
    </html>