
mat-card{
    background-color: rgb(255, 255, 255);
}
mat-card-content{
    width:100%;
}
button[mat-icon-button] {
    
    background-color:transparent;
    color: #ffffff;
    border-color: transparent;
  }

  .theme-colors{
    lighting-color: #ffffff;
  }

