.Img_L{
    height: 10%;
    width: 20%;
    padding-left: 3%;
    
}
.esquinada {
    position: absolute;
    top: 0.7%;
    left: 0%;
    margin-left: 1.5%;
    width: 12.5%;
}
mat-toolbar{
    background-color: #F29F05 ;
    height: 8%;

}
