<app-encabezado></app-encabezado>

<div class="ForgotPassword"> 
    <form class="mat-card">
      <mat-card-header>
        <div> 
          <img class="img" src="..\assets\Imagenes\restablecer-la-contrasena.png" alt="Password change">
        </div>
      </mat-card-header>
      <mat-label>To change your password you need to contact the administrator, enter your PRID to notify them</mat-label>
      <input class="input" matInput placeholder="PRID">
      <button class="button">Submit</button>
      <section>
      <a (click)="onclick()">>Return</a>
        </section>
    </form>
  </div>
