<app-encabezado></app-encabezado>

<div class="ForgotPassword"> 
    <form class="mat-card">
      <mat-card-header>
        <div> 
          <img class="img" src="..\assets\Imagenes\restablecer-la-contrasena.png" alt="Password change">
        </div>
      </mat-card-header>
      <mat-label><p>To change your password </p> <p>you need to contact the administrator,</p> enter your PRID to notify them</mat-label>
      <input class="input" matInput placeholder="PRID">
      <button class="button">Submit</button>
      <section>
      <a class="Return" (click)="onclick()"><h2>Return</h2> </a>
        </section>
    </form>
  </div>
