
<mat-card >
  <mat-card-header>
    <div mat-card-avatar  class="avatar-container"> 
    <img class="login-container img" src="..\..\..\assets\Imagenes\usuario (2).png">
    </div>
  </mat-card-header>
  <mat-card-content>
    <h1>Login</h1>
    <mat-form-field appearance="outline" class="custom-input">
        <mat-label>PRID</mat-label>
        <input matInput [formControl]="PRID" (click)="clearErrors()" required/>
        
    </mat-form-field> 
    <mat-form-field appearance="outline" class="custom-input ">
        <mat-label>Password</mat-label>
        <input
          matInput [type]="hide() ? 'password' : 'text'"
          [formControl]="Password"
          (click)="clearErrors()"
          required
        />
        <button
      mat-icon-button
      matSuffix
      (click)="clickEvent($event)"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide()"
    >
      <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>

    </mat-form-field>
     @if (Password.invalid || PRID.invalid) {
          <mat-error>{{errorMessage()}}</mat-error>
        }
      @if (Password.valid && PRID.valid) {
        <mat-error>{{errorMessage()}}</mat-error>
      }
     
  </mat-card-content>

  <mat-card-actions>
    <button (click)="onAccion()" mat-flat-button id="Sign_button">Sign In</button>
    <mat-divider></mat-divider>
    <section>
    <a href="/ForgotPassword">Forgot password?</a>
    </section>
  </mat-card-actions>
</mat-card>
