.login-container.img {
    width: 100%; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: 90%; /* Ajusta el tamaño de la imagen según tus necesidades */
    border-radius: 50%; /* Hace que la imagen sea circular si es cuadrada */
    margin-bottom: 10%;
  }
 
  .custom-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
   
  }
  mat-label{
    color: #000 !important; 
  }
  mat-form-field input{
    color: #000 !important; 
  }
 
  mat-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 2cm;
    padding-right: 2cm;
    padding-top: 1.5cm;
    padding-bottom: 1.5cm;
    border-radius: 1cm;
    background-color: #ffffffdb;
  }

  h1{
    text-align: center;
  }
  mat-card-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  button[mat-flat-button] {
    width: 80%;
    background-color: #F29F05;
    color: white;
  }
  
  .FP {
    color: #865906;
    text-decoration: none;
  }
  
   button[mat-icon-button] {
    width: 80%;
    background-color:transparent;
    color: #F29F05;
    border-color: transparent;
    padding-bottom: 20%;
  }
 
  .Forgot{
    padding-top: 5%;
  }