.login-container.img {
    width: 100%; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: 90%; /* Ajusta el tamaño de la imagen según tus necesidades */
    border-radius: 50%; /* Hace que la imagen sea circular si es cuadrada */
    margin-bottom: 10%;
  }
 
  .custom-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
   
  }
  mat-label{
    color: #000 !important; 
  }
  mat-form-field input{
    color: #000 !important; 
  }
 
  mat-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em;
    background-color: #ffffffcc;
  }

  h1{
    text-align: center;
  }
  mat-card-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  button[mat-flat-button] {
    width: 80%;
    background-color: #D90479;
    color: white;
  }
  
  a {
    color: #8C0F61;
    text-decoration: none;
  }
  
   button[mat-icon-button] {
    width: 80%;
    background-color:transparent;
    color: #D90479;
    border-color: transparent;
  }
 